:root {
    --very-dark-blue1:hsl(217, 54%, 11%);
    --very-dark-blue2: hsl(216, 50%, 16%);
    --very-dark-blue3: hsl(216, 32%, 27%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --white: hsl(0, 0%, 100%);
    font-size: 18px;
}
a {
    color: inherit; /* blue colors for links too */
    /* text-decoration: inherit; */
}
a:hover {
    color: var(--cyan);
}
button {
    margin: none;
    padding: none;
}
body {
    margin: 0;
    background-color: var(--very-dark-blue1);
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    align-items: center;
}
hr {
    border: 0;
    height: 1px;
    background: var(--soft-blue);
}
h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}
p {
    color: var(--soft-blue);
    font-size: 0.75rem;
}
.attribution { color: white; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.container {
    margin: 3rem 1rem;
    background-color: var(--very-dark-blue2);
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 300px;
}
.price {
    color: var(--cyan);
}
.price img {
    width: 0.5rem;
}
.acknowledgement {
    border-top: 1px solid var(--soft-blue);
    margin-top: 1rem;
    padding-top: 1rem;
    display: flex;
    gap: 0.5rem;
}
.acknowledgement img {
    max-width: 2rem; 
    max-height: 2rem;
    border: 1px solid white;
    border-radius: 50%;
    /* max-width: 12%; */
}
.info {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.time p {
    display: inline;
}
.name {
    color: white;
}
.name:hover {
    color: var(--cyan);
}
.nft-container {
    position: relative;
}
.nft-container:hover .main {
    opacity: 0.3;
}
.nft-container:hover .overlay {
    opacity: 0.5;
}
.main {
    width: 100%;
    border-radius: 0.5rem;
}
.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}